@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<ul>
    <li>Using ASP.NET Core Razor Pages</li>
    <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
    <li>Author <a href="https://github.com/chuxubank">Misaka</a></li>
</ul>

<address>
    <strong>Support:</strong> <a href="mailto:chuxubank@qq.com">admin@moviedb.com</a><br />
</address>
