@page
@model MovieDb.Pages.Movies.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Movie.ID" />
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.ReleaseDate" class="control-label"></label>
                <input asp-for="Movie.ReleaseDate" class="form-control" />
                <span asp-validation-for="Movie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.BoxOffice" class="control-label"></label>
                <input asp-for="Movie.BoxOffice" class="form-control" />
                <span asp-validation-for="Movie.BoxOffice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Genre" class="control-label"></label>
                <input asp-for="Movie.Genre" class="form-control" />
                <span asp-validation-for="Movie.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Rating" class="control-label"></label>
                @if (Model.Movie.Rating == -1)
                {
                    <input class="form-control" placeholder="No Rating Yet" readonly/>
                }
                else
                {
                    <input asp-for="Movie.Rating" class="form-control" readonly />
                }
                <span asp-validation-for="Movie.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Summary" class="control-label"></label>
                <textarea asp-for="Movie.Summary" class="form-control"></textarea>
                <span asp-validation-for="Movie.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Current Poster</label>
                @if (Model.Movie.Poster != null)
                {
                    var base64 = Convert.ToBase64String(Model.Movie.Poster);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                    <img src="@imgsrc" />
                }
            </div>
            <div class="form-group">
                <label class="control-label">New Poster</label>
                <input type="file" name="poster" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
